*/*npy
notebook/.ipynb_checkpoints/
notebook/udacity_vehicle.tar.gz
notebook/dataset

*ipynb_checkpoints
notebook/Lecture8/*h5
notebook/Lecture8/*gz
notebook/Lecture8/pred.csv
notebook/Lecture8/sample_submission.csv
notebook/Lecture8/*test*
notebook/Lecture8/*train

notebook/Lecture9/image_contest*
notebook/Lecture9/model.h5
notebook/Lecture9/*train
notebook/Lecture9/baiduyun_deeplearning_competition/round1/*h5
notebook/Lecture9/baiduyun_deeplearning_competition/round2/crop_split*
notebook/Lecture9/baiduyun_deeplearning_competition/round2/*h5
notebook/Lecture9/baiduyun_deeplearning_competition/round2/*csv
